@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #00000080;
  font-family: "Poppins", sans-serif;
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  color-scheme: dark;
}
